@model IEnumerable<DepoOtomasyonu.Model.Models.ProductModel>
@{
    ViewData["Title"] = "ProductIndex";
}
<div class="border p-4 bg-white">
    <div class="row">
        <div class="col-md-6 form-group">
            <h2 class="text-info">Ürünler</h2>
        </div>
        <div class="col-md-3 form-group">
            <button style="margin-left:140px" onclick="location.href='@Url.Action("AdminDashboard", "Admin")'" class="btn btn-primary text-white">Ana Menü</button>
        </div>
        <div class="col-md-3 form-group">
            <a onclick="location.href='@Url.Action("ProductInsertOrUpdate", "Admin")'" class="btn btn-info form-control text-white">Yeni oluştur</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th class="text-center">Ürün Resmi</th>
                    <th class="text-center">Ürün Kodu</th>
                    <th class="text-center">Kategori</th>
                    <th class="text-center">Ürün fiyatı</th>
                    <th class="text-center">Ürün adeti</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <img src="/images/@item.ProductPicture" width="100px" height="100px" />
                        </td>
                        <td class="text-center">
                            @item.ProductCode
                        </td>
                        <td class="text-center">
                            @item.CategoryModel.CategoryName
                        </td>
                        <td class="text-center">
                            @item.ProductPrice
                        </td>
                        <td class="text-center">
                            @item.ProductCount
                        </td>
                        <td class="text-center">
                            <a class="btn btn-primary text-white" asp-action="ProductInsertOrUpdate" asp-route-Id="@item.ProductId" style="background-color:#235586">Düzenle</a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-danger text-white" asp-action="ProductDelete" asp-route-Id="@item.ProductId">Sil</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Listelenecek veri yok ...</p>
        }
    </div>
</div>

